<!DOCTYPE html>
<html>
    <head>
        <title>&{'app.title'}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}	
        <link rel="stylesheet" type="text/css" media="screen" 
                href="@{'/public/stylesheets/main.css'}" />
		<link rel="stylesheet" type="text/css" media="screen" 
                href="@{'/public/stylesheets/colorbox.css'}" />
        <link rel="shortcut icon" type="image/png" 
                href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.colorbox.js'}"></script>
    </head>
    <body id="console">
        
        <div id="header">
            <div id="logo">
                <span>&{'app.title'}</span>&nbsp;<img alt="logo image" src="/public/images/logo.png">
            </div>
            <ul id="tools">
                <li>
                    ${user!=null?'welcome '+user+",":''} <a href="@{Secure.logout()}">log out</a>
                </li>
            </ul> 
        </div>
        
        <div id="main">
            <ul id="consoleMenu">
		        <li class="${request.controller == 'ProcessDefinitions' ? 'selected' : ''}">
		            <a href="@{ProcessDefinitions.list()}">Process Definitions</a>
		        </li>		       
	            <li class="${request.controller == 'ProcessInstances' ? 'selected' : ''}">
	                <a href="@{ProcessInstances.index()}">Process Instances</a>
	            </li>
	            <li class="${request.controller == 'WorkItems' ? 'selected' : ''}">
	                <a href="@{WorkItems.list()}">Work Items</a>
	            </li>
		         #{secure.check 'ADMIN'}
		            <li class="${request.controller == 'Users' ? 'selected' : ''}">
		                <a href="@{Users.list()}">Users</a>
		            </li>
		         #{/secure.check}
		    </ul>
            #{doLayout /} 
        </div>
        
        <p id="footer">
            Powered by <a href="http://www.playframework.org">Play framework</a>.
        </p>
        
    </body>
</html>