#{list defs, as:'def'}
<tr id="${def.id}" class="${def_parity}">
	<td>${def.id}</td>
	<td>${def.processId}</td>
	<td>${def.version}</td>
	<td>${def.createDate}</td>
	<td><input type="button" value="Create" name="createInst" title="Create Process Instance"/>&nbsp;
		<input type="button" value="Delete" name="delete" title="Delete Process Definition"/>&nbsp;
		<input type="button" value="Show" name="showcontent" title="Show Defintion Content XML" class="showcontent cboxElement"/>&nbsp;
		<input type="button" value="ViewInst" name="viewInsts" title="View this definition's instances"> 
	</td>
</tr>
#{/list}
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

	$("input.showcontent").colorbox({width:600,height:550,inline:true, href:"#showcontent_win",
		onComplete:function(){

		}
	});
});
</script>
