<div id="addData">
	#{if keys}
    <p> Assign Process Variable</p><br>
	<table width="100%">
		%{key = keys.split(",");}%
		#{list key, as:'k'}
		<tr>
			<td width="150" align="right">${k}:</td>
			<td><input type="text" name="${k}" value=""/></td>
		</tr>
		#{/list}
		<tr>
			<td colspan="2" align="center">
				<input type="button" name="submit_btn" value="Submit" />&nbsp;
				<!--input type="button" name="cancel_btn" value="Cancel" /-->
			</td>
		</tr>		
	</table>
	#{/if}
	#{else}
		<p> No Assignable Variables Found</p>
	#{/else}
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$("input[name='submit_btn']").click(function(){
		#{if instId}
			#{if keys}
				var values = "";
				var flag = true;
				%{key = keys.split(",");}%
				#{list key, as:'k'}
					var key = "${k}";
					var value = $("input[name='${k}']").val();				
					if(value == ""){
						alert("${k} is null");
						$("input[name='${k}']").focus();
						flag = false;
						return false;
					}else{
						values += value+",";
					}
				#{/list}
				
				if(flag){
					var addAction = #{jsAction @addAssignVariables(':instId',':keys',':values') /} ;
					$.post(addAction({instId: ${instId}, keys: '${keys}', values: values}));
					$.colorbox.close();
					refreshProcessInsTab();
				}
			#{/if}
		#{/if}	
	});
});
</script>