#{extends 'CRUD/layout.html' /}

<div id="crudList">

	<div id="processDefinitions">	 
       #{if defs}
       	<table id="defTable" class="deflist">
			<thead>
				<tr>
					<th>Process</th>
					<th>Version</th>		              
				</tr>
			</thead>
			<tbody>
				#{list defs, as:'def'}
				<tr id="${def.id}">
					<td>${def.processId}</td>
					<td>${def.version}</td>		                  
				</tr>
				#{/list}
			</tbody>
		</table> 
	   #{/if}
       #{else}
    	<p>No Process Definition Found</p>
	   #{/else}
	</div>
	
	<div id="instanceView">
		<div id="processInstances">
			#{if defs}
			<table id="insTable" class="deflist">
				<thead>
					<tr>
						<th width="150">Process Inst ID</th>
						<th width="180">State</th>		
						<th>Updated Time</th>	              
					</tr>
				</thead>
				<tbody id="proInsts">
				</tbody>
			</table>
			#{/if}
			#{else}
				<p>No Process Instances Found</p>
			#{/else}
		</div>
	
	    <div id="instanceDetail"><p>No Process Instance detail Found</p></div>
    </div>
    <div style="clear:both;"></div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	//first load , click the first tr
	var selectDefFirst = function(){
		#{if defs}
			$("#defTable").find("tbody tr[id='${defId}']").attr("status","checked").addClass("tr_backcolor");
			#{if instId}
				getInsts(${defId}, ${instId});
			#{/if}
			#{else}
				getInsts(${defId}, null);
			#{/else}
		#{/if}
	}
	
	selectDefFirst();
	
	//click process definetion , get process instances
	$("#defTable").find("tr").click(function(){
		changeClass($(this));
		getInsts($(this).attr("id"),null);
	});
	
	// change class 
	$("#defTable").find("tr").mouseover(function(){
		$(this).addClass("tr_backcolor");
	});
	$("#defTable").find("tr").mouseout(function(){
		if($(this).attr("status") != "checked"){
			$(this).removeClass("tr_backcolor");
		}
	});
	var changeClass = function(name){
		$(name).parent().find("tr").removeAttr("status").removeClass("tr_backcolor");
		$(name).attr("status","checked").addClass("tr_backcolor");
	}
});

function getInsts(proid, instid){
	var listAction = #{jsAction @list(':proid',':instid') /} ;
    $.ajax({
   	  url: listAction({proid: proid,instid: instid}),
   	  cache: false,
   	  success: function(html){
   	    $("#proInsts").empty().append(html);
   	  }
   	});        
}

function showAssignVariablesDialog(instid,keys) {
	$.colorbox({width:400,height:350,inline:true, href:"#assign_variables_win",
		onComplete:function(){
			var viewAction = #{jsAction @assignvariables(':instid',':keys') /} ;
			$('#assign_variables_win').load(viewAction({instid: instid, keys:keys}));
		}
	});
}

function showAssignmentDialog(instid,fromActId,fromActName) {
	$.colorbox({width:600,height:200,inline:true, href:"#assignment_win",
		onComplete:function(){
			var assignAction = #{jsAction @assign(':instid',':fromActId',':fromActName') /} ;
			$('#assignment_win').load(assignAction({instid: instid, fromActId: fromActId, fromActName:fromActName}));
		}
	});
}

function showNextActivitiesDialog(instid,activities) {
	$.colorbox({width:400,height:350,inline:true, href:"#assign_nextActivity_win",
		onComplete:function(){
			var viewAction = #{jsAction @assignNextActivity(':instid',':activities') /} ;
			$('#assign_nextActivity_win').load(viewAction({instid: instid, activities:activities}));
		}
	});
}


function runProcessInstance(instid) {
	$.ajax({
	   type: "POST",
	   url:   "@{ProcessInstances.run()}",
	   data: "instId="+instid,
	   success: function(msg){
		if(msg["exception"] == 'AssignmentException'){
			showAssignmentDialog(instid , msg["fromActId"],msg["fromActName"]);
		} else if(msg["exception"] == 'ExpressionException') {
			showAssignVariablesDialog(instid, msg["keys"]);
	     } else if(msg["exception"] == 'ConfusedTransitionException') {
			showNextActivitiesDialog(instid, msg["activities"]);
	     } else {
		     refreshProcessInsTab();
	     }
	   }
	});	
}

function undoProcessInstance(instid) {
	$.ajax({
	   type: "POST",
	   url:   "@{ProcessInstances.undo()}",
	   data: "instId="+instid,
	   success: function(msg){
	     if(msg["exception"]=='AssignmentException'){
	    	 showAssignmentDialog(instid , msg["fromActId"],msg["fromActName"]);
	     } else if(msg["exception"]=='ExpressionException') {
	    	 showAssignVariablesDialog(instid, msg["keys"]);
	     } else {
		     refreshProcessInsTab();
	     }
	   }
	});	
}


function deleteProcessInstance(instid) {
	var agree=confirm("This process instance will be permanently deleted and cannot be recovered. Are you sure to proceed?");
	if(agree) {
		var delInst = function(instid){
			var delAction = #{jsAction @delete(':instid') /} ;
		    $.post(delAction({instid: instid}));
		}
		delInst(instid);
		refreshProcessInsTab();
	}
}

function cancelProcessInstance(instid) {
	//alert('startProcessInstance');
	var cancelInst = function(instid){
		var cancelAction = #{jsAction @cancel(':instid') /} ;
		$.post(cancelAction({instid: instid}));
	}
	cancelInst(instid);
	refreshProcessInsTab();
}

function refreshProcessInsTab() {
	var defId = $("#processDefinitions").find("tbody tr[class='tr_backcolor']").attr("id");
	var insId = $("#processInstances").find("tbody tr[class='tr_backcolor']").attr("id");
    //add random number to avoid caching
	//var listAction = #{jsAction @list(':proid') /} ;
    //$('#proInsts').load(listAction({proid: defId}));
    getInsts(defId,null);
    //var detailAction = #{jsAction @detail(':instid') /};
    //$('#instanceDetail').load(detailAction({instid: insId}));
    getInstDetail(insId);
}



</script>
