#{if insts}
    <tr><td colspan="3">
    <div style="height:162px;overflow:auto;">
	    <table id="processInsts">
	    	#{list insts, as:'inst'}
			<tr id="${inst.id}">
				<td width="150">${inst.id}</td>
				<td width="180">${inst.state}</td>
				<td>${inst.updatedTime}</td>		                  
			</tr>
			#{/list}
		</table>
	</div>
	</td></tr>
#{/if}
#{else}
	<p>No Process Instances Found</p>
#{/else}

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

	//first load , click the first tr
	var selectProFirst = function(){
		#{if insts}
			var id = ${instId};
			$("#processInsts").find("tr[id='${instId}']").attr("status","checked").addClass("tr_backcolor");
			getInstDetail(id);
		#{/if}
		#{else}
			$('#instanceDetail').empty().html("No Process Instance detail Found");
		#{/else}
	}	

	selectProFirst();
	
	//click process instance , get instance detail
	$("#processInsts").find("tr").click(function(){
		changeClass($(this));
		getInstDetail($(this).attr("id"));
	});
	
	//change css
	$("#processInsts").find("tr").mouseover(function(){
		$(this).addClass("tr_backcolor");
	});
	$("#processInsts").find("tr").mouseout(function(){
		if($(this).attr("status") != "checked"){
			$(this).removeClass("tr_backcolor");
		}
	});
	var changeClass = function(name){
		$(name).parent().find("tr").removeAttr("status").removeClass("tr_backcolor");
		$(name).attr("status","checked").addClass("tr_backcolor");
	}
});

 function getInstDetail(instid){
	var listAction = #{jsAction @detail(':instid') /} ;
    $.ajax({
  	  url: listAction({instid: instid}),
  	  cache: false,
  	  success: function(html){
  	    $("#instanceDetail").empty().append(html);
  	  }
  	});        
}

</script>